.container {
    padding: 24px 16px;
}

.title, .time {
    margin: 0;
    font-size: 1.2em;
}

.time {
    color: #a1a1a1
}

.stack {
    background-color: #fff !important;
    width: auto !important;
    padding: 6px;
    img {
        width: auto;
    }
}



/* .titleContainer {
    padding-left: 16px;
} */

@media only screen and (min-width: 960px) {
    .avatar {
        width: 60px !important; /* 60px */
        height: 60px !important; /* 60px */
    }
    .title {
        font-size: 1.5em;
    }
    .btn {
        max-width: 250px;
    }
}