.container {
    padding: 24px 16px;
}

.title, .time {
    margin: 0
}

.time {
    color: #a1a1a1
}

.stack {
    background-color: #fff !important;
    width: auto !important;
    padding: 6px;
    img {
        width: auto;
    }
}

.avatar {
    width: 60px !important;
    height: 60px !important;
}